@import "tailwindcss";

@theme {
  /* --color-*: initial; */
  --color-lightbrigtgreen: #44FF4E;
  --color-hintofyellow: #F8FFE5;
  --color-midnight: #22252C;
}

@layer utilities {
    /* HIDE SCROLLBAR */
    /* Chrome, Safari, Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}